@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;

  overflow-x: hidden; /* جلوگیری از اسکرول افقی */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 1236px;
  height: 112.89px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    font-size: 12px; /* اندازه فونت کوچکتر */
  }

  .swiper-slide img {
    height: 80%;
  }
}
@media (max-width: 500px) {
  .swiper {

    height: auto;
  }

  .swiper-slide {
    font-size: 12px; /* اندازه فونت کوچکتر */
  }

  .swiper-slide img {
    height: 80%;
  }
}

/* Post Swiper Container */
.postSwiper {
  width: 90%;
  height: 75%;
  margin: 0 auto;
}

/* Post Swiper Slide */
.postSwiper-slide {
  text-align: center;
  font-size: 16px;
  background: rgba(23, 22, 22, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

/* Post Swiper Images */
.postSwiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Swiper Navigation Buttons */
.postSwiper .swiper-button-next,
.postSwiper .swiper-button-prev {
  color: #000;
  opacity: 0.8;
}

.postSwiper .swiper-button-next:hover,
.postSwiper .swiper-button-prev:hover {
  color: #007bff;
  opacity: 1;
}

/* Swiper Pagination Dots */
.postSwiper .swiper-pagination-bullet {
  background: #000;
  opacity: 0.6;
}

.postSwiper .swiper-pagination-bullet-active {
  background: #007bff;
  opacity: 1;
}

@media (max-width: 375px) {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 12px; /* اندازه فونت کوچکتر */
  }

  .swiper-slide img {
    height: 100%;
  }
}

.custom-parent:hover .custom-child {
  color: #fa5a2a;
}

.scrollbar-hidden {
  overflow-y: auto; /* فعال کردن اسکرول عمودی */
  -webkit-overflow-scrolling: touch; /* برای فعال کردن اسکرول لمسی */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* پنهان کردن اسکرول‌بار */
}
